

<!DOCTYPE html >
<html >
<head>

	<% include ../partials/admin_header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/admin.css">
	
</head>

<body>

<div class="login">
	<h1>惠功文理補習班後台</h1>
    <form action="/admin" method="POST">
    	<input style="margin-bottom:10px" type="text" name="username" placeholder="帳號" required="required" />
        <input style="margin-bottom:10px" type="password" name="password" placeholder="密碼" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">登入</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/4d5ece1593.js"></script>


</body>

</html>