<!DOCTYPE html >
<html >
<head>

	<% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="form-group col-md-12" >
    <form>
        <div class="container">
<div class="row">
<div class="col-sm-12">
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/profile_reset">
<input type="password" class="input-lg form-control" name="password1" placeholder="輸入新密碼" autocomplete="off">
<input type="password" class="input-lg form-control" name="password2" placeholder="再輸入一次新密碼" autocomplete="off">
<div class="row">
<div class="col-sm-12">
</div>
</div>
<button type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" >更改密碼</button>

</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>
    </form>
  </div>

<% include ../partials/scripts.ejs %>

</body>

</html>