<!DOCTYPE html>
<html>
<head>

  <% include ../../partials/admin_header.ejs %>
  <link rel="stylesheet" type="text/css" href="css/students.css">
  
</head>
<body>
<section id="sidebar"> 
  <div class="white-label">
  </div> 
  <div id="sidebar-nav">   
    <ul>
      <li><a href="/admin/post"></i>貼文管理</a></li>
      <li><a href="/admin/contactbook"></i>聯絡簿管理</a></li>
      <li><a href="/admin/classManager"></i>班級管理</a></li>
      <li class="active"><a href="/admin/students">學生管理</a></li>
      <li><a href="/admin/teachers">老師管理</a></li>
      <li><a href="/admin/admin_chat/58b3361d2913430004e311ec">信箱</a></li>   
      <li><a href="/admin/logout">登出</a></li>
    </ul>
  </div>
</section>
<div class="container">
<form role="form" action="/admin/newStudent" method="POST" >
  <div  class="form-group col-md-4">
    <label for="year">入學年度(帳號前三碼)</label>
    <input  type="text" class="form-control" name="year" maxlength="3" minlength="3" placeholder="請輸入三位數字" required>
  </div>
  <div  class="form-group col-md-4">
    <label for="account">學號(帳號後五碼)</label>
    <input  type="text" class="form-control" name="account" maxlength="5" minlength="5" placeholder="請輸入五位數字" required>
  </div>
  <div class="form-group col-md-4">
    <label for="password">密碼</label>
    <input id="password" type="password" class="form-control" name="password" placeholder="密碼" required>
  </div>
  <div class="form-group col-md-4">
    <label for="student_name">學生姓名</label>
    <input id="student_name" type="text" class="form-control" name="student_name" placeholder="學生姓名" required>
  </div>
  <div class="form-group col-md-4">
    <label for="student_phone">學生電話</label>
    <input id="student_phone" type="text" class="form-control" name="student_phone" placeholder="電話">
  </div>
  
  <div class="form-group col-md-4">
    <label for="fa_name">父親姓名</label>
    <input type="text" class="form-control" name="fa_name" placeholder="父親姓名" >
  </div>
  <div class="form-group col-md-4">
    <label for="fa_phone">父親電話</label>
    <input type="text" class="form-control" name="fa_phone" placeholder="電話" >
  </div>
  
  <div class="form-group col-md-4">
    <label for="ma_name">母親姓名</label>
    <input type="text" class="form-control" name="ma_name" placeholder="母親姓名" >
  </div>
  <div class="form-group col-md-4">
    <label for="ma_phone">母親電話</label>
    <input type="text" class="form-control" name="ma_phone" placeholder="電話" >
  </div>
  
  <div class="form-group col-md-6">
    <label for="home_phone">家用電話</label>
    <input type="text" class="form-control" name="home_phone" placeholder="06-2113212" >
  </div>
  
  <div class="col-md-6 text-right">
    <button id="newStudent" type="submit" class="btn btn-primary">確定</button>
    <a href="/admin/students"><button type="button" class="btn btn-default" id="backTostudents">取消</button></a>
    <!--<button type="submit" class="btn btn-danger pull-right">Delete Account</button>-->
  </div>

</form>
</div>
  <% include ../../partials/admin_scripts.ejs %>
</body>
</html>